@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

.banner {
    background: linear-gradient(90.26deg, rgba(0, 0, 0, 0.6) 13.25%, rgba(0, 0, 0, 0) 50.56%, rgba(0, 0, 0, 0.48) 79.94%),
        url(src/banner.jpg);
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    font-family: 'Mulish', sans-serif;
    font-style: italic;
}

.banner h1 {
    color: #FDC500;
    font-weight: 1000;
    padding: 100px 0px 20px 100px;
    /*top,right,bottom,left */
}

.banner p {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

#owl {
    position: relative;
    top: -100px;
}

.item {
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    color: #fff;
    background: #2C0412;
    border: 2px solid white;
}

.item:hover {
    background: #FFA361;
    color: #111;
}

.item h4 {
    text-align: center;
    text-transform: uppercase;
    padding: 35px 10px 0 10px;
    margin: auto;
    font-size: 20px;
}

.item p {
    text-align: center;
    margin: auto;
}

.item a {
    text-decoration: none;
    color: #fff;
}

.item a:hover {
    background: #FFA361;
    color: #111;
}

#green {
    color: green;
}

#red {
    color: red;
}

.food {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    margin: 10px;
}

.food h1 {
    padding: 0px 20px;
}

/* Float three columns side by side */
.food .row .column {
    float: left;
    width: 33%;
    padding: 0 10px;
    margin-bottom: 20px;
}

/* Clear floats after the columns */
.food .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Style the counter cards */
.food .row .column .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    border-radius: 100px 30px 30px 100px;
    background: #FAEAEA;
    text-transform: capitalize;
}

.food .row .column .card .text {
    font-size: 18px;
    float: right;
}

.food .row .column .card .text i {
    float: right;
    cursor: pointer;
    color: #2C0412;
}

.food .row .column .card .text button {
    border: none;
    float: right;
    background: #FAEAEA;
}

.food .row .column .card .text input {
    border: none;
    background: #FAEAEA;
    pointer-events: none;
}

.food .row .column .card .image {
    float: left;
    padding: 0 30px 0 0;
}

.food .row .column img {
    pointer-events: none;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: #fff;
}

.submit {
    background: #2C0412;
    color: #fff;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    padding: 10px;
    margin: 10px;
    position: fixed;
    left: 88%;
    bottom: 10px;
}

.submit:hover {
    background: #FFA361;
    color: #111;
    border: none;
}
.food{
    margin: 10px;
}
h2:after {
    content: ' ';
    display: block;
    border: 2px solid black;
    width: 30%;
}

@media (max-width:325px) {
    .item {
        height: 100px !important;
        width: 100px !important;
    }

    .food .row .column .card .text {
        font-size: 10px !important;
    }

    .food .row .column .card .text i {
        font-size: 15px !important;
        padding-bottom: 100px !important;
    }
}

@media (max-width:426px) {
    .banner h1 {
        padding: 70px 0px 10px 70px;
    }

    .banner p {
        font-size: 20px;
    }

    #owl {
        top: -50px;
    }

    .item {
        height: 100px !important;
        width: 100px !important;
    }

    .item h4 {
        font-size: 14px;
        padding: 15px 10px 0 10px;
    }

    .item p {
        font-size: 14px;
    }

    .submit{
        left: 49% !important;
    }
    h2:after{
        width: 82% !important;
    }
}


@media (max-width: 769px) {
    .banner h1 {
        padding: 70px 0px 10px 70px;
    }

    .banner p {
        font-size: 20px;
    }

    #owl {
        top: -50px;
    }

    .item {
        height: 150px;
        width: 150px;
    }

    .food .row .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .food .row .column .card .text {
        font-size: 15px;
        float: right;
    }
}

@media (min-width:1000px) {
    .banner h1 {
        padding: 50px 0px 10px 50px;
    }

    #owl {
        top: -70px;
    }

    .item {
        height: 155px;
        width: 155px;
    }
}

@media (max-width:1025px) {
    .food .row .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .food .row .column .card .text {
        font-size: 15px;
        float: right;
    }
    .submit{
        left: 80%;
    }
}